<div class="modal-header" >
	<label class="stdd b w300">Edit Deployments</label>	
	<button type="button" class="btn btn-success fa fa-check" (click)="update()"></button>
	<button type="button" class="btn btn-close mx-2 close pull-right" aria-label="Close" (click)="close()">X</button>

</div>
 
<div class="modal-body">
	<form [formGroup]="form">
		<div>
			<label class="stdd b w100">Candidate: </label>
			<input type="text" class="stdd w100" formControlName="applicationNo" >
			<input type="text" class="stdd w300" formControlName="candidateName">
			
			<br><label class="stdd b w100">Category:</label>
			<input type="text" class="stdd w300" formControlName="categoryName" >
			
			<hr style="margin-top: 3px; margin-bottom: 0px">
			<br><label class="stdd b mx-2 w100 fSmall">Date</label>
			<label class="stdd b w225 fSmall">Status</label>
			
			<label class="stdd b w225 fSmall">Next Status</label>
			<label class="stdd b w150 fSmall">Next Stage dt</label>
			<button type="button" (click)="addItem()" class="stdd fSmall mx-1 fa fa-plus blue pull-right"></button>
			
		</div>
		<div formArrayName="deployments">
			<div *ngFor="let item of deployments.controls; let i=index">
				<div [formGroupName]="i">
	
					<input class="stdd w100 mx-2" 
						type="text"
						placeholder="transaction Date"
						bsDatepicker
						[bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }"
						formControlName="transactionDate"
					> 
				
					<ng-select  
						class="stdd w225"
						[items]="deployStatuses"
						bindLabel="status"
						bindValue="sequence"
						placeholder="Select status"
						clearAllText="Clear"
						formControlName="sequence" 
					>
					</ng-select>
		
					<ng-select class="stdd w225"
						[items]="deployStatuses"
						bindLabel="status"
						bindValue="sequence"
						labelForId="stageId"
						clearAllText="Clear"
						formControlName="nextSequence"
						>
					</ng-select>
					
					<input class="stdd w100" 
						type="text"
						placeholder="Next Stage Estimated Date"
						bsDatepicker
		
						[bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }"
						formControlName="nextStageDate"
					> 
				</div>
			</div>
		</div>
		
	</form>
</div>
	

<div class="modal-footer">
    
</div>

<!-- <div style="font-size: smaller;">
	{{form.value | json}}
 </div>
-->