.stdd {
    display: inline-block;
    vertical-align: top;
   
 }

 .b {font-weight: bold;}
 .green {color: green;}
.w50 {width: 50px;}
.w75{width: 75px;}
.w90 {width: 90px;}
.w150 {width: 150px;}
.w100 {width: 100px;}
.w200 {width: 200px;}