<div class="form-inline mt-2 ml-2" *ngIf="tasks">
     <ng-container>
          <div class="d-flex justify-contents-between align-items-center">
               <div class="d-flex justify-content-between align-items-center mt-2" *ngIf="totalCount > 0">
                    <app-paging-header [totalCount]="totalCount" [pageNumber]="oParams.pageNumber" [pageSize]="oParams.pageSize"></app-paging-header>
                    <app-paging 
                         [pageSize]="oParams.pageSize" [totalCount]="totalCount" [pageNumber]="oParams.pageNumber" (pageChanged)="onPageChanged($event)"  >
                    </app-paging>
               </div>
          
               <div class="stdd mx-2" style="margin-left: 20px;">Sort: </div>
               <select name="" id="" class="stdd mx-2 w125 fontSmall custom-select" (change)="onSortSelected($event.target)">
                    <option *ngFor="let sort of sortOptions"
                         [value] = "sort.value"
                         
                    >{{sort.name}}</option>
               </select>
               <!--(click)="onSortSelected(sort.name)"-->
               <div class="stdd mx-2">Status: </div>
               <select name="" id="statusOptionSelected" class="stdd mx-2 w125 fontSmall custom-select" (change)="onStatusSelected($event.target)">
                    <option *ngFor="let st of taskStatusOptions"
                         [value] = "st.value" 
                         (click) = "onStatusSelected(st.value)"
                    >
                         {{st.name}}
                    </option>
               </select>
               <input (keyup.enter)="onSearch()" type="text" class="stdd w300 form-control ml-15" #search style="width: 300px;" placeholder="Search">
               <button (click)="onSearch()" class="stdd fontSmall mx-2 btn btn-outline-primary my-1">Search</button>
               <button (click)="onReset()" class="stdd mx-2 fontSmall btn btn-outline-success ml-2 my-1">Reset</button>
               <button class="stdd btn btn-outline-success pull-right my-1 fa fa-plus" title="click to add a new task"  routerLink="/userTask/add"></button>
          </div>
     
     </ng-container>
</div>

<div *ngIf="!tasks">
     No tasks on record
</div>
<div *ngIf="tasks">
     <div class="ml-5 form-inline" style="font-weight: bold;">
          <div class="stdd w100 mx-2 b" >Assigned To</div>
          <div class="stdd w75 b" >Task Date</div>
          <!-- <div class="stdd w100 b">Task Type</div> -->
          <div class="stdd w400 b" >Task Description</div>
          <div class="stdd w100 b">Complete By</div>
          <div class="stdd w100 b">Status</div>
     </div>
</div>
<div *ngIf="tasks">
    
     <div class="row" *ngFor="let task of tasks" >
          <app-user-task-line 
               (deleteEvent)="deleteTaskR($event)"  
               (completedevent)="completeTask($event)"
               (editEvent)="editTask($event)"
               [task]="task"
               [boolEditable]="task.taskOwnerId === user!.loggedInEmployeeId || task.assignedToId === user!.loggedInEmployeeId"
          ></app-user-task-line>
     </div>
</div>



