.stdd {
     display: inline-block;
     margin-left: 2px;
     margin-right: 2px;
     white-space: normal;
     vertical-align: top;
}


.lbl {
     display: inline-block;
     margin-left: 2px;
     margin-right: 2px;
     white-space: normal;
     vertical-align:middle;
}
.b {font-weight: bold;}
.blue{color: blue;}
.fontSmall {font-size: small;}
.w15 {width: 15px;}
.w25 {width: 25px;}
.w50 {width: 50px;}
.w75 {width: 75px;}
.w100 {width: 100px;}
.w150 {width: 150px;}
.w175 {width: 175px;}
.w200 {width: 200px;}
.w400 {width: 400px;}
