.stdd {
     display: inline-block !important;
     vertical-align: top;
}
.b {font-weight: bold;}
.red {color: red}
.blue {color: blue}
.w35 {width: 35px;}
.w45 {width: 45px;}
.w100 {width: 100px;}
.w150 {width: 150px;}
.w50 {width: 50px;}
.w210 {width: 210px;}
.w225 {width: 225px;}
.w300 {width: 300px;}
.w350 {width: 350px;}
.w450 {width: 450px;}