<div *ngIf="dep !== undefined" style="margin-left: 5px;">
       
    <div class="stdd w50">{{dep.applicationNo}}</div>

    <div class="stdd w150" >{{dep.candidateName}}</div>
    <div class="stdd w100">{{dep.customerName}}</div>
    <div class="stdd w50">{{dep.orderNo}}</div>
    <div class="stdd w175">{{dep.categoryName}} </div>
    <!-- <div class="stdd w75">{{dep.referredOn | date: 'ddMMMyy'}}</div> -->
    <div class="stdd w75" >{{dep.selDecisionDate | date: 'ddMMMyy'}}</div> 
    
    <div class="stdd w200">{{dep.deploySequence | depStatus}}</div>
    <div class="stdd w46">{{dep.deployStageDate | date: 'ddMMM'}} </div>

    <div class="stdd w200">{{dep.nextSequence | depStatus}}</div>
    <div class="stdd w75">{{dep.nextStageDate | date :'ddMMM'}}</div>

    <button class="stdd btn btn-secondary fa fa-pencil" (click)="addNew()" title="add a new transaction"></button>
    
</div>
