<div class="stdd col-4">
     <div class="mb-4">
          <div class="btn-group" name='container'>
               <button class="btn btn-primary" btnRadio='Unread'  
                    (click)="getMessages()">
                    <i class="fa fa-envelope"></i> Unread
               </button>
               <button class="btn btn-primary" btnRadio='Inbox' 
                    (click)="getInboxMessages()">
                    <i class="fa fa-envelope-open"></i> Inbox
               </button>
               <button class="btn btn-primary" btnRadio='Sent' 
                    (click)="getOutboxMessages()">
                    <i class="fa fa-paper-plane"></i> Sent
               </button>
               <button class="btn btn-primary" btnRadio='Drafts' 
                    (click)="getDraftMessages()">
                    <i class="fa fa-plane"></i> Drafts
               </button>
               <label class="stdd mx-2 b">click a recipient/sender to display its message</label>
          <div class="stdd d-flex mt-2" *ngIf="totalCount > 0">
               <app-paging-header 
                    [totalCount]="totalCount" 
                    [pageNumber]="mParams.pageIndex" 
                    [pageSize]="mParams.pageSize"
               ></app-paging-header>

               <app-paging 
                    [pageSize]="mParams.pageSize" 
                    [totalCount]="totalCount" 
                    [pageNumber]="mParams.pageIndex" 
                    (pageChanged)="onPageChanged($event)"  >
               </app-paging>
          </div>
          <div class="stdd w125 b" *ngIf="container==='sent' || container==='draft' ">Recipient</div>
          <div class="stdd w125 b" *ngIf="container==='inbox'">Sender</div>
          <div class="stdd w70 b" *ngIf="container==='sent'">Sent On</div>
          <div class="stdd w70 b" *ngIf="container==='inbox' || container==='draft' ">dated</div>
          <div class="stdd w125 b">Subject</div>       

          <div *ngIf="container==='sent' || container==='draft'">
               <div *ngFor="let msg of messages" style="font-size: smaller;">
                    <div class="stdd w125" title="click to display the message" (click)="setMessageFromUsername(msg)">{{msg.recipientUserName}}</div>
                    <div class="stdd w70">{{msg.messageComposedOn | date:'ddMMMyy hh:mm'}}</div>
                    <div class="stdd w125">{{msg.subject.substr(30)}}</div>
               </div>
          </div>
          <div *ngIf="container==='inbox'">
               <div *ngFor="let msg of messages" style="font-size: smaller;" >
                    <div class="stdd w125" title="click to display the message" (click)="setMessageFromUsername(msg)">{{msg.senderUserName}}</div>
                    <div class="stdd w70">{{msg.messageSentOn | date: 'ddMMMyy hh:mm'}}</div>
                    <div class="stdd w125">{{msg.subject.substr(30)}}</div>
               </div>
          </div>
     </div>
</div>

<div class="stdd col-8" style="vertical-align: top;" >
     <div class="row" *ngIf="messages?.length === 0">
          <div *ngIf="mParams.container==='Inbox'">No Inbox messages for the logged in user </div>
          <div *ngIf="mParams.container==='sent'">No Sent messages for the logged in user</div>
          <div *ngIf="mParams.container==='draft'">No Draft messages in outbox for the logged in user</div>
          <div *ngIf="mParams.container==='Unread'">No Unread messages for the logged in user</div>
     </div>

     <div class="row container" *ngIf="message">
          <div class="stdd b w50 my-1">From</div>
          <input class="stdd mx-1 w350" type="text" [(ngModel)]="message.senderEmailAddress" id="message.senderEmailAddress" name="message.senderEmailAddress">
          <div class="stdd b mx-1 w90" style="text-align: right;">Date Sent</div>
          <input class="stdd mx-1 w300" type="text" [(ngModel)]="message.messageSentOn" id="message.messageSentOn" name="message.messageSentOn">
          
          <div class="my-1">
               <div class="stdd b w50">To</div>
               <input class="stdd mx-1 w250" disabled="controlsDisabled" 
                    type="text" [(ngModel)]="message.recipientEmailAddress" id="message.recipientEmailAddress" name="message.recipientEmailAddress" >
               <div class="stdd b w40" style="text-align:right">CC</div>
               <input class="stdd mx-1 w250" disabled="controlsDisabled" type="text" [(ngModel)]="message.ccEmailAddress" 
                    id="message.ccEmailAddress" name="message.ccEmailAddress" >
               <div class="stdd b w40" style="text-align:right;">BCC</div>
               <input class="stdd mx-1 w250" disabled="controlsDisabled"  type="text" [(ngModel)]="message.bccEmailAddress" 
                    id="message.bccEmailAddress" name="message.bccEmailAddress" >
          </div>

          <div class="my-1">
               <div class="stdd b w50 my-1">Subject</div>
               <input class="stdd mx-1 w600" disabled="controlsDisabled" type="text" [(ngModel)]="message.subject" id="message.subject" name = "message.subject">
               <button type="button" class="btn mx-2 btn-success fa fa-paper-plane" 
                    disabled="controlsDisabled"  (click)="sendMessage()"
                    style="text-align:right;" ></button>
               <button type="button" class="fa fa-trash" (click)="deleteMessage(message.id)" 
                     style="text-align:right;" ></button>
               <!--disabled="controlsDisabled" -->               
          </div>
          <div>
               <angular-editor 
                    [placeholder]="'Message contents'" 
                    [(ngModel)]="message.content" 
                    [config]="editorConfig" 
                    name="message.content" 
               >
               </angular-editor> 
          </div>
     </div>
</div>


 