.w40 {width: 40px;}
.w50 {width: 50px;}
.w75 {width: 75px;}
.w80 {width: 80px;}
.w100 {width: 100px;}
.w125 {width: 125px;}
.w150 {width: 150px;}

.alignR {text-align: right;}
.alignCentre {text-align: center;}

.b {font-weight: bold;}

.stdd {display: inline-block;}