<div *ngIf="!member">No customer data available</div>
<br>
<div class="pull-right">

</div>
<div *ngIf="member" >
    <br>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="pull-right">
            <button [disabled]="!form.dirty" type="submit" 
                class="btn btn-success btn-block fa fa-save w50" (click)="onSubmit()" >
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            </button>
            <button class="mx-2 btn btn-success btn-block fa fa-balance-scale w50" (click)="showReview()" ></button>
            <button class="mx-2 btn btn-success btn-block fa fa-close w50" (click)="close()" ></button>
        </div>
    <br>
        <div class="stdd col-3 mt15ml5"  >
            <div class="stdd my-1 w100 b">Type</div>
            <div class="stdd w300">{{member.customerType}} </div> 
            <br>
            <div class="stdd my-1 b w100">Name:</div>
            <!-- <div class="stdd my-1 w400">{{member.customerName}}</div> -->
            <input type="text" class="stdd my-1 w300" formControlName="customerName">
            <br>
            <div class="stdd my-1 w100 b">Address:</div>
            <input type="text" class="stdd my-1 w300" formControlName="add">
            <br>
            <div class="stdd my-1 w100 b">Address 2:</div>
            <input type="text" class="stdd my-1 w300" formControlName="add2">
            <br>
            <div class="stdd my-1 w100 b">City:</div>
            <input type="text" class="stdd my-1 w300" formControlName="city">
            <br>
            <div class="stdd my-1 w100 b">PIN:</div>
            <input type="text" class="stdd my-1 w300" formControlName="pin">
            <br>
            <div class="stdd my-1 w100 b">District:</div>
            <input type="text" class="stdd my-1 w300" formControlName="district">
            <br>
            
            <div class="stdd my-1 b w100">Created:</div>
            <div class="stdd my-1 w100">{{member.createdOn | date: 'dd-MMM-YY'}} </div>
            <br>
            <div class="stdd my-1 w100 b">Last Active:</div>
            <div class="stdd w300 my-1">{{member.lastActive | date : 'dd-MMM-yy'}}</div>
            <br><div class="stdd w100 b my-1">Member since:</div>
            <div class="stdd w100">{{member.createdOn | date: 'dd MMM yy'}}</div>
            <br>
            <div class="stdd w100 b my-1">Current Status</div>
            <div class="stdd w300" [ngClass]="member.customerStatus===300 ? 'red': 'black'">{{member.customerStatus | customerStatus }}</div>

        </div>
        <div class="stdd col-7 mt15ml5" >
            
            <tabset class="member-tabset" #memberTabs >

                <tab heading='Officials of {{member.knownAs}}' 
                (selectTab)="onTabActivated($event)">
                <div class="my-2 b fSmall" >
                    <div class="stdd w50">Gen<br>der</div>
                    <div class="stdd w50">Title</div>
                    <div class="stdd w150">Official Name</div>
                    <div class="stdd w100">Designation</div>
                    <div class="stdd w50">Divn</div>
                    <div class="stdd w100">Mobile No</div>
                    <div class="stdd w200">email</div>
                    <div class="stdd w50">Valid</div>
                    <div style="width: 50px; display: inline-block;">
                        <button type="button" (click)="addCustomerOfficial()" class="stdd alignR fa fa-plus blue"></button>
                    </div>
                </div>

                <div *ngIf="member.customerOfficials.length ===0">
                        No officials on record
                    </div>
                
                <div formArrayName="customerOfficials" class="my-1 px-0 fSmall">
                    <div *ngFor="let q of customerOfficials.controls; let i=index">
                        <div [formGroupName]="i" >
                            <input type="text" formControlName="gender" class="stdd w50" >
                            <input type="text" formControlName="title" class="stdd w50" >
                            <input type="text" formControlName="officialName" class="stdd w150" >
                            <input type="text" formControlName="designation" class="stdd w100" >
                            <input type="text" formControlName="divn" class="stdd w50" >
                            <input type="text" formControlName="mobile" class="stdd w100" >
                            <input type="text" formControlName="email" class="stdd w200" >
                            <input type="checkbox" formControlName="isValid" class="stdd w50" >
                            <button (click)="removeCustomerOfficial(i)" class="stdd red fa fa-trash" title="Remove the customer official"> </button>
                        </div>
                    </div>
                </div>
                </tab>

                <tab *ngIf="member.customerType==='customer'" heading='customerIndustries'  
                    (selectTab)="onTabActivated($event)">
                        <div class="stdd w200">Industry Name</div>
                        <div style="width: 50px; display: inline-block;">
                            <button type="button" (click)="addCustomerIndustry()" class="stdd alignR fa fa-plus blue"></button>
                        </div>
                        <div formArrayName="customerIndustries" class="my-1 px-0 fSmall">
                            <div *ngFor="let ind of customerIndustries.controls; let j=index">
                                <div [formGroupName]="j" >
                                        <ng-select *ngIf="industries" class="mx-5 stdd w350" 
                                            [items]="industries"
                                            bindLabel="name"
                                            bindValue="id"
                                            labelForId="industryId"
                                            clearAllText="Clear"
                                            formControlName="industryId">
                                        </ng-select>
                                        <button (click)="removeCustomerIndustry(j)" 
                                                style="margin-left: 5px;" class="red w25 fa fa-trash" title="Remove customer Industry"></button>
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!industries">
                            No industries defined for the customer
                        </div>
                </tab>

                <tab *ngIf="member.customerType==='associate'" heading='Agecy Specialties'  
                    (selectTab)="onTabActivated($event)">
                        <div class="stdd w200">Agency Specialties</div>
                        <div style="width: 50px; display: inline-block;">
                            <button type="button" (click)="addAgencySpecialty()" class="stdd alignR fa fa-plus blue"></button>
                        </div>
                        <div formArrayName="agencySpecialties" class="my-1 px-0 fSmall">
                            <div *ngFor="let ind of agencySpecialties.controls; let m=index">
                                <div [formGroupName]="m" >
                                        <ng-select *ngIf="categories" class="mx-5 stdd w350" 
                                            [items]="categories"
                                            bindLabel="name"
                                            bindValue="id"
                                            labelForId="professionId"
                                            clearAllText="Clear"
                                            formControlName="professionId">
                                        </ng-select>
                                        <button (click)="removeAgencySpecialty(m)" 
                                                style="margin-left: 5px;" class="red w25 fa fa-trash" title="Remove Agency Specialty"></button>
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!industries">
                            No Specialties defined for the customer
                        </div>
                </tab>
                <tab *ngIf="member.customerType==='vendor'" heading='Vendor Specialties'  
                    (selectTab)="onTabActivated($event)">
                        <div class="stdd w200">Vendor Specialties</div>
                        <div style="width: 50px; display: inline-block;">
                            <button type="button" (click)="addVendorSpecialty()" class="stdd alignR fa fa-plus blue"></button>
                        </div>
                        <div formArrayName="vendorSpecialties" class="my-1 px-0 fSmall">
                            <div *ngFor="let ind of vendorSpecialties.controls; let n=index">
                                <div [formGroupName]="n" >
                                        <ng-select *ngIf="services" class="mx-5 stdd w350" 
                                            [items]="services"
                                            bindLabel="name"
                                            bindValue="id"
                                            labelForId="vendorFacilityId"
                                            clearAllText="Clear"
                                            formControlName="vendorFacilityId">
                                        </ng-select>
                                        <button (click)="removeAgencySpecialty(n)" 
                                                style="margin-left: 5px;" class="red w25 fa fa-trash" title="Remove Agency Specialty"></button>
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!industries">
                            No Specialties defined for the customer
                        </div>
                </tab>
            </tabset>
        </div>
    </form>     
</div>
<ul class="text-danger list-unstyled" *ngIf="errors">
    <li *ngFor="let error of errors">
         {{error}}
    </li>
</ul>

 <div style="font-size: small;">
     {{this.form.value | json}}
 </div>


