.w50 {width: 50px;}
.w75 {width: 75px;}
.w100 {width: 100px;}
.w200 {width: 200px;}
.w300 {width: 300px;}

.b {font-weight: bold;}

.stdd {
     display: inline-block;
     margin-top: 0px;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-bottom: 0px;
}

.fontSmaller {font-size:x-small;}
.fontSmall {font-size: small};

.ww {word-wrap: break-word;}
.blue {color: blue;}
.green {color: green;}
.red {color: red;}
.vAlignCenter{vertical-align: middle;}
.vAlignTop {vertical-align: top !important;};
.hAlignRight {text-align: right;}
.hAlignCenter {text-align: center;}

.dimText {color: darkgray;}
