<div *ngIf="cust !== undefined" class="row">
     <div class="mx-1" style="display: inline-block; width: 300px;" >{{cust.customerName}}</div>
     <div class="mx-1" style="display: inline-block; width: 100px;" >{{cust.city}}</div>
     <div class="mx-1" style="display: inline-block; width: 100px;" >{{cust.country}}</div>
     <div class="mx-1" style="display: inline-block; width: 200px;" >ind</div> 
     
     <div class="mx-1" style="display: inline-block; width: 200px;">
          <button class="w35 bordernone fa fa-pencil" routerLink="/client/edit/{{cust.customerType}}/{{cust.id}}" ></button>
          <button class="w35 bordernone fa fa-eye mx-1" type="button"  ></button>
          <button class="w35 bordernone fa fa-balance-scale" type="button" routerLink="/client/review/{cust.id}" ></button>
     </div>
</div>

