<div class="row ml-3" style="font-size: small;">
     <div class="col-2">
          <ng-container *ngIf="customerCities && industryTypes ">
               <div class="stdd w50 blue b">Sort</div>
               <select name="" id="" style="font-size: small;" class="custom-select mb-2" (change)="onSortSelected($event)">
                    <option *ngFor="let sort of sortOptions"
                         [value] = "sort.value"
                    >{{sort.name}}</option>
               </select>
               <div class="stdd w50 blue b">City</div>
               <select name="" id="" style="font-size: small;" class="custom-select mb-2" (change)="onCitySelected($event)">
                    <option *ngFor="let city of customerCities"
                         [value] = "city.cityName"
                         [class.active]="city.cityName === cParams.customerCityName"
                    >{{city.cityName}}</option>
               </select>
               <div class="stdd w100 blue b">Industry Types</div>
               <select name="" id="" style="font-size: small;" class="custom-select mb-2" (change)="onIndTypeSelected($event)">
                    <option *ngFor="let ind of industryTypes"
                         [value] = "ind.id"
                    >{{ind.name}}</option>
               </select>
               
          </ng-container>
     </div>

     <div class="col-10">
          <div class="d-flex justify-contents-between align-items-center">
               
               <app-paging-header
                    [totalCount]="totalCount"
                    [pageNumber]="cParams.pageNumber"
                    [pageSize]="cParams.pageSize"
               >
               </app-paging-header>
          
               <div class="form-inline mt-2" *ngIf="customers">
                    <input (keyup.enter)="onSearch()" type="text" class="form-control ml-5" #search 
                         style="width: 300px; font-size: small;" placeholder="Search">
                    <button style="font-size: small;" (click)="onSearch()" class="btn btn-outline-primary my-1 blue">Search</button>
                    <button style="font-size: small;" (click)="onReset()" class="btn btn-outline-success ml-2 my-1 blue">Reset</button>
                    <button style="font-size: small;" routerLink="/client/edit/{{custType}}/0" 
                         class="btn btn-outline-success fa fa-plus ml-2 my-1 blue"></button>
               </div>
          </div>
          <div class="row form-inline" style="font-weight: bold;">
               <div class="mx-1" style="display: inline-block; width: 300px;">Name</div>
               <div class="mx-1" style="display: inline-block; width: 100px;">City</div>
               <div class="mx-1" style="display: inline-block; width: 100px;">Country</div>
               <div class="mx-1" style="display: inline-block; width: 200px;">Industries</div>
          </div>
          <div class="row" *ngFor="let cust of customers" >
               <app-customer-item [cust]="cust"></app-customer-item>
          </div>
          <br>
          <div>
               <div class="d-flex justify-content-center">
                    <app-paging
                         [pageSize]="cParams.pageSize"
                         [totalCount]="totalCount"
                         (pageChanged)="onPageChanged($event)"
                    >
                    </app-paging>
                    
               </div>
          </div>
     </div>
</div>