<div>
     H.R.
</div>
<div class="container d-flex justify-contents-between align-items-center mt-5">
     <button routerLink="/candidates/register" class="stdd" title="add a new CV" >Register new CV</button>
     <button routerLink="/candidates" class="stdd" title="List of CVs" >CV List</button>
     <button routerLink="/hr/stddqs" class="stdd" title="Standard assessment questions" >Standard Assessment Questions</button>
     <button routerLink="/hr/qs" class="stdd " title="Assessment Questions from Question Bank"  >Question Bank</button>
     <!-- <button routerLink="/hr/checklist" class="stdd"  title="candidate check lists">Candidate Checklists</button> -->
     <button class="stdd mx-2">Assessment Questions<br>for Order Items</button>

     <button routerLink="/interviews/list" class="stdd" title="Interviews"  >interviews</button>

     <button routerLink="/hr/cvassess/list" class="stdd" title="Interviews"  >interviews</button>

     <button routerLink="" class="stdd" >Home</button>
</div>