<div>
    Customers, Vendors and Associates
</div>
<div class="container d-flex justify-contents-between align-items-center mt-5">
    
    <button class="stdd" routerLink="/customers/customerlist/customer" title="Client list">Client List</button>
    <button class="stdd" routerLink="/customers/customerlist/associate" title="Associate List">Associate List</button>
    <button class="stdd" routerLink="/customers/customerlist/vendor" title="Vendor List">Vendor List</button>
    <button class="stdd fa fa-home" routerLink="/admin" title="return to home"></button>
</div>