.stdd {
     display: inline-block;
     margin: 2px;
     padding: 2px;
     vertical-align: top;
}

.fontSmall {font-size: small;}

.w25 {width: 25px;}
.w75 {width: 75px;}
.w90 {width: 90px;}
.w100{width: 100px;}
.w125 {width: 125px;}
.w170{width: 170px;}
.w400{width: 400px;}

.red {color: red;}