.stdd {
     margin: 1px;
     padding-left: 1px;
     padding-right: 1px;
     display: inline-block !important;
     line-height: 1em;
     vertical-align: top;
}

.alignR {
     text-align: right;
}

.w30 {width: 30px;}
.w70 {width: 70px;}
.w100 {width: 100px;}
.w150 {width: 150px;}
.w200 {width: 200px;}
.b { font-weight: bold;}

.red { color: red;}
.blue {color: blue;}
.green {color: green}
.vAlignMiddle {
     vertical-align: middle;
}

.fontSmall {
     font-size: small;
}

.borderAqua {
     border: aqua;
}

.w15 {width: 25px;}
